<!-- templates/Patient/modals/_installment_details_modal.html -->
<div class="payment_modal-overlay" id="payment_installment-details-modal-overlay">
    <div class="payment_modal-content large">
        <div class="payment_modal-header">
            <h3>جزئیات طرح اقساط</h3>
            <button class="payment_modal-close">×</button>
        </div>
        <div id="payment_installment-details-content">
            <!-- محتوا به صورت داینامیک اینجا قرار می‌گیرد -->
            <p>در حال بارگذاری...</p>
        </div>
    </div>
</div>