<div class="edit-user-tabs__insurance">
    <!-- محتوای تب اطلاعات بیمه -->
      <div class="insurance-cards percentage-grid">
            <div class="insurance-card percentage-grid">
                <h3>بیمه تامین اجتماعی</h3>
                <div class="form-group">
                    <label>نام کاربری</label>
                    <input type="text" class="form-input">
                </div>
                <div class="form-group">
                    <label>رمز عبور</label>
                    <input type="text" class="form-input">
                </div><br>
                <a><button class="authenticate_insurance btn-primary"> تایید دومرحله ای </button></a>
                <button class="save-button">ذخیره</button>
            </div>

            <div class="insurance-card percentage-grid">
                <h3>بیمه سلامت</h3>
                <div class="form-group">
                    <label>نام کاربری</label>
                    <input type="text" class="form-input">
                </div>
                <div class="form-group">
                    <label>رمز عبور</label>
                    <input type="text" class="form-input">
                </div><br>
                <a><button class="authenticate_insurance btn-primary"> تایید دو مرحله ای </button></a>
                <button class="save-button">ذخیره</button>
            </div>
        </div>
        <hr>
</div>