<div class="edit-user-tabs__salary">
    <!-- محتوای تب فیش حقوقی -->
        <div class="salary-card">
                <div class="salary-grid">
                    <div class="form-group">
                        <label>حقوق پایه</label>
                        <input type="number" class="form-input">
                    </div>
                    <div class="form-group">
                        <label>حق فرزند</label>
                        <input type="number" class="form-input">
                    </div>
                    <div class="form-group">
                        <label>حق تاهل</label>
                        <input type="number" class="form-input">
                    </div>
                    <div class="form-group">
                        <label>پاداش</label>
                        <input type="number" class="form-input">
                    </div>
                    <div class="form-group">
                        <label>هزینه نهار</label>
                        <input type="number" class="form-input">
                    </div>
                    <div class="form-group">
                        <label>هزینه صبحانه</label>
                        <input type="number" class="form-input">
                    </div>
                    <div class="form-group">
                        <label>حق بیمه</label>
                        <input type="number" class="form-input">
                    </div>
                    <div class="form-group">
                        <label>مالیات</label>
                        <input type="number" class="form-input">
                    </div>
                    <div class="form-group">
                        <label>اضافه کاری</label>
                        <input type="number" class="form-input">
                    </div>
                    <div class="form-group">
                        <label>هزینه مرخصی</label>
                        <input type="number" class="form-input">
                    </div>
                    <div class="form-group">
                        <label>حق ماموریت</label>
                        <input type="number" class="form-input">
                    </div>
                    <div class="form-group">
                        <label>کسر از حقوق</label>
                        <input type="number" class="form-input">
                    </div>
                    <div class="form-group">
                        <label>هزینه ایاب و ذهاب</label>
                        <input type="number" class="form-input">
                    </div>
                    <div class="form-group">
                        <label>هزینه بن کالا</label>
                        <input type="number" class="form-input">
                    </div>
                </div>
                <div class="form-group" style="grid-column: 2 / -1;">
                    <label>توضیحات</label>
                    <textarea class="form-textarea" name="address" placeholder="شرح توضیحات..."></textarea>
                </div>
                <hr>
                <div class="percentage-item date-inputs">
                    <label>تاریخ  از </label>
                    
                    <div class="date-input-container input-wrapper input-container">
                        <i class="fas fa-calendar-alt calendar-icon icon-left"></i>
                        <input type="text" class="date-input form-input jalali input-field" data-id="8" readonly placeholder="تاریخ شمسی" readonly>
                    </div>
                    <div class="input-container" style="display:none;">
                        <input type="text" class="date-input gregorian" data-id="8" readonly placeholder="تاریخ میلادی">
                    </div>
                </div>
                <div class="percentage-item date-inputs">
                    <label>تاریخ  تا</label>
                    
                    <div class="date-input-container input-wrapper input-container">
                        <i class="fas fa-calendar-alt calendar-icon icon-left"></i>
                        <input type="text" class="date-input form-input jalali input-field" data-id="9" readonly placeholder="تاریخ شمسی" readonly>
                    </div>
                    <div class="input-container" style="display:none;">
                        <input type="text" class="date-input gregorian" data-id="9" readonly placeholder="تاریخ میلادی">
                    </div>
                </div>
                <hr>
                <div class="center btn-primary">
                    <button type="submit" class="save-button">
                        <i class="fas fa-save"></i>
                        ذخیره اطلاعات
                    </button>
                    
                </div>
                
            </div>
        </div>
            
        </div>
</div>