{% load static %}
  <!-- فک بالا -->
        <div class="jaw upper-jaw">
            <div class="quadrant right">
                <div class="tooth-lab" data-tooth-number="18" data-tooth-name="Third Molar">18</div>
                <div class="tooth-lab" data-tooth-number="17" data-tooth-name="Second Molar">17</div>
                <div class="tooth-lab" data-tooth-number="16" data-tooth-name="First Molar">16</div>
                <div class="tooth-lab" data-tooth-number="15" data-tooth-name="Second Premolar">15</div>
                <div class="tooth-lab" data-tooth-number="14" data-tooth-name="First Premolar">14</div>
                <div class="tooth-lab" data-tooth-number="13" data-tooth-name="Canine">13</div>
                <div class="tooth-lab" data-tooth-number="12" data-tooth-name="Lateral Incisor">12</div>
                <div class="tooth-lab" data-tooth-number="11" data-tooth-name="Central Incisor">11</div>
            </div>
            <div class="quadrant left">
                <div class="tooth-lab" data-tooth-number="21" data-tooth-name="Central Incisor">21</div>
                <div class="tooth-lab" data-tooth-number="22" data-tooth-name="Lateral Incisor">22</div>
                <div class="tooth-lab" data-tooth-number="23" data-tooth-name="Canine">23</div>
                <div class="tooth-lab" data-tooth-number="24" data-tooth-name="First Premolar">24</div>
                <div class="tooth-lab" data-tooth-number="25" data-tooth-name="Second Premolar">25</div>
                <div class="tooth-lab" data-tooth-number="26" data-tooth-name="First Molar">26</div>
                <div class="tooth-lab" data-tooth-number="27" data-tooth-name="Second Molar">27</div>
                <div class="tooth-lab" data-tooth-number="28" data-tooth-name="Third Molar">28</div>
            </div>
        </div>

        <!-- فک پایین -->
        <div class="jaw lower-jaw">
            <div class="quadrant right">
                <div class="tooth-lab" data-tooth-number="48" data-tooth-name="Third Molar">48</div>
                <div class="tooth-lab" data-tooth-number="47" data-tooth-name="Second Molar">47</div>
                <div class="tooth-lab" data-tooth-number="46" data-tooth-name="First Molar">46</div>
                <div class="tooth-lab" data-tooth-number="45" data-tooth-name="Second Premolar">45</div>
                <div class="tooth-lab" data-tooth-number="44" data-tooth-name="First Premolar">44</div>
                <div class="tooth-lab" data-tooth-number="43" data-tooth-name="Canine">43</div>
                <div class="tooth-lab" data-tooth-number="42" data-tooth-name="Lateral Incisor">42</div>
                <div class="tooth-lab" data-tooth-number="41" data-tooth-name="Central Incisor">41</div>
            </div>
            <div class="quadrant left">
                <div class="tooth-lab" data-tooth-number="31" data-tooth-name="Central Incisor">31</div>
                <div class="tooth-lab" data-tooth-number="32" data-tooth-name="Lateral Incisor">32</div>
                <div class="tooth-lab" data-tooth-number="33" data-tooth-name="Canine">33</div>
                <div class="tooth-lab" data-tooth-number="34" data-tooth-name="First Premolar">34</div>
                <div class="tooth-lab" data-tooth-number="35" data-tooth-name="Second Premolar">35</div>
                <div class="tooth-lab" data-tooth-number="36" data-tooth-name="First Molar">36</div>
                <div class="tooth-lab" data-tooth-number="37" data-tooth-name="Second Molar">37</div>
                <div class="tooth-lab" data-tooth-number="38" data-tooth-name="Third Molar">38</div>
            </div>
        </div>
    </div>