<!-- templates/schedules/includes/schedule_grid.html -->
<div id="shift-schedule1" class="shift-schedule-wrapper">
    {% include 'schedules/includes/day_card.html' with day_name="شنبه" day_index=0 %}
    {% include 'schedules/includes/day_card.html' with day_name="یکشنبه" day_index=1 %}
    {% include 'schedules/includes/day_card.html' with day_name="دوشنبه" day_index=2 %}
    {% include 'schedules/includes/day_card.html' with day_name="سه‌شنبه" day_index=3 %}
    {% include 'schedules/includes/day_card.html' with day_name="چهارشنبه" day_index=4 %}
    {% include 'schedules/includes/day_card.html' with day_name="پنج‌شنبه" day_index=5 %}
    {% include 'schedules/includes/day_card.html' with day_name="آدینه" day_index=6 %}
</div>

